<!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Sélection du kart - VroumVroum</title>

        <link rel="icon" href="../../assets/logo.png">
        <link rel="stylesheet" href="styles/generalStyle.css">
        <link rel="stylesheet" href="styles/canvasStyle.css">
        <link rel="stylesheet" href="styles/alertStyle.css">
    </head>

    <body>
        <main>
            <div id="vroumCoinContainer">
                <div id="vroumCoinDiv"></div>
            </div>
            <div id="divCanvas">
                <div id="buttonsContainer"></div>
                <div id="priceContainer" class="priceContainer"></div>
            </div>
        </main>

        <script type="module" src="../controllers/redirection/controllerHeader.js"></script>
        <script type="module" src="../models/ChoiceKart.js"></script>
        <script type="module" src="../models/entities/Alert.js"></script>
    </body>
</html>

