.customAlert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
    min-width: 250px;
    z-index: 1001;
}

#buttonAlert{
    margin-top: 40px;
    font-size: 20px;
    width: auto;
    height: auto;
}

#buttonAlert:hover {
    background-color: #b82727;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.inputField{
    margin-top: 40px;
    font-size: 20px;
    width: auto;
    height: auto;
}

#closeAlert{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right:10px;
    padding: 0 0 2px 2px;
}

#pMessage{
    margin-top : 50px;
}

.changePwd, #inputPwd, #inputPwd2 {
    margin-top: 0;
    margin-bottom: 10px;
}

